<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre-exp.min.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre-icons.min.css" type="text/css"/>
    </head>
    <body class="bg-dark">
        <nav class="dropdown bg-primary p-fixed">
            <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
                <i class="icon icon-menu text-light"></i>
            </a>
            <!-- menu component -->
            <ul class="menu text-dark">
                <li class="divider" data-content="Pages">
                <li class="menu-item">
                    <a href="/">Home</a>
                </li>
                <li class="menu-item">
                    <a href="/about">About</a>
                </li>
                <li class="menu-item">
                    <a href="/contact">Contact</a>
                </li>

                <li class="divider" data-content="User">
                {{#if role}}
                    <li class="menu-item">
                        <a href="/account">My Account</a>
                    </li>
                    <li class="menu-item">
                        <a href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="menu-item">
                        <a href="/login">Login</a>
                    </li>
                    <li class="menu-item">
                        <a href="/createAccount">Create Account</a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <div class="container bg-gray text-dark">
            {{{body}}}
        </div>
    </body>
</html>
