<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre-exp.min.css" type="text/css"/>
        <link rel="stylesheet" href="/stylesheets/spectre-0.5.9/dist/spectre-icons.min.css" type="text/css"/>
    </head>
    <body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="#" class="icon icon-menu"></a>
        </section>
        <section class="navbar-center">
            <!-- centered logo or brand -->
        </section>
        <section class="navbar-section">
            <a href="#" class="btn btn-link">Twitter</a>
            <a href="#" class="btn btn-link">GitHub</a>
        </section>
    </header>

        <div class="card-body">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about">About</a>
                </li>
                {{#if role}}
                    <li class="nav-item">
                        <form action="/account" method="get">
                            <input type="submit" value="My account" class="link">
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <input type="submit" value="Logout" class="link">
                        </form>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/login">Login</a>
                    </li>
                {{/if}}
            </ul>
        </div>
        {{{body}}}
    </body>
</html>
