:root {
    --highlightColor: #7DC748;
    --detailColor: #D3E0CA;
    --darkColor: #38472E;
}

.start {
    height: 100vh;
}

.start > h2 {
    padding-top: 25vh;
}

.start > div {
    margin-top: 3em;
}

.height-2 {
    padding: 1em;
}