:root {
    --darkColor: #0f0f0f;
}

.start {
    height: 100vh;
}

.start > h2 {
    padding-top: 25vh;
}

.start > div {
    margin-top: 3em;
}

.padding-1 {
    padding: 1em;
}

.padding-3 {
    padding: 3em;
}

.dropdown {
    z-index: 1000;
}

.tile-content {
    max-width: 80%;
    word-break: break-word;
}

.container {
    max-width: 1200px;
    min-height: 100vh;
}

body {
    background-color: var(--darkColor);
}