<h2>About</h2>
<article>
    <h3>The creator</h3>
    <p>Hi my name is Emil Ejebring and I am 22 years old and I am the creator of this page. At the time of making this page I am still studying in Jönköping University. In my studies I aspire to get a bachelors degree in computer science and get a lovely job with flexible hours. For now though I spend my time improving my programming as it is one of my favorite hobbies and of course programming is a large part of my studies.</p>
</article>
<article>
    <h3>This page</h3>
    <p>This page was created in connection with the course web-development fundamentals, and has been a really fun project. This website enables one to have many conversations with strange people across the internet in organized topics and is intended to be little more.</p>
</article>