<header>
    <h2>Contact</h2>
</header>
<article class="columns">
    <p class="column col-12">
        If you would like to contact me, due to something regarding this website feel free to use the E-mail below.
    </p>
    <span class="label column col-4 text-right">E-mail:</span>
    <span class="column col-8">dev@ejebring.com</span>
</article>