<h2 class="text-center">Login</h2>
<form action="login" method="post" class="columns">
    {{attemptedUsername}}
    {{accountID}}
    {{#if loginFailure }}
        <p class="col-12">Username and password did not match.</p>
    {{/if}}
    <label for="username" class="label text-right column col-4">Username:</label>
    <input name="username" type="text" value="{{attemptedUsername}}" placeholder="Username" class="column col-8 text-left"/>

    <label for="password" class="label text-right column col-4">Password:</label>
    <input name="password" type="password" placeholder="Password" class="column col-8 text-left"/>

    <input type="submit" content="Login" class="col-mx-auto"/>
</form>
<a href="/createAccount">Dont have an account?</a>